<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.commlib" >
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute" >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <provider
            android:name=".crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
        <activity
            android:name=".crash.DefaultErrorActivity"
            android:process=":error_activity" />
        <activity
            android:name=".crash.MyDefaultErrorActivity"
            android:process=":error_activity"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".base.ContainerActivity" />

        <activity android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/WebViewTheme"
            android:launchMode="singleTask">

            <!--需要添加下面的intent-filter配置-->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--使用http，则只能打开http开头的网页-->
                <data android:scheme="https" />
            </intent-filter>
        </activity>


    </application>
</manifest>
